.black-border {
  border: 2px solid rgb(220, 0, 0);
}

/* Apply background only to auth pages */
body.auth-page {
    min-height: 100vh;  
    background-image: url("/static/images/login-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
      
body.auth-page main {
    max-width: 600px;
    margin: 50px auto;
}

body.auth-page .auth-form {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: rgba(253, 253, 253, 0.5) !important;
}
